<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IOT</title>
    <link type="text/css" rel="stylesheet" href="pluggins/Boostrap/css/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet" href="pluggins/Boostrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="pluggins/DataTables/Bootstrap/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="pluggins/DataTables/Bootstrap/bootstrap4.min.css" />
    <link type="text/css" rel="stylesheet" href="pluggins/DataTables/Bootstrap/select.bootstrap4.min.css" />
    <link type="text/css" rel="stylesheet"
        href="pluggins/DataTables/KeyTable-2.5.1/css/keyTable.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="pluggins/searchBuilder/searchBuilder.css"  media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="pluggins/DataTables/Buttons-1.6.1/css/buttons.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="pluggins/ggIcons/icons.css" />
    <link type="text/css" rel="stylesheet" href="css/cssGlobal.css" />
</head>