<html>
    {{> header }}
    <body>
        {{> printModal }}
        {{> navbar }}

        <main>
            <h1>Chronos: Kiosko de etiquetas</h1>
            {{> menu }}
        </main>

    </body>
    {{> footer }}
</html>

{{> end }}