<nav class="navbar navbar-light" style="background-color: #1565c0;">
    <a class="navbar-brand" href="#" onclick="location.reload()">
        <img src="/images/THOMSON SHORT LOGO.png" alt="">
    </a>
    <div id="numericClock" class="reloj text-light" onload="loadReloj()"> 
    </div>
</nav>